<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    {% load static tailwind_tags %}
    {% load static %}

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&display=swap');

        @import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

        @import url('https://fonts.googleapis.com/css?family=Poppins'); 
    </style>
</head>
<body class="font-poppins">
    
</body>
</html>