<!DOCTYPE html>
<html lang="en">
{% load static tailwind_tags %}
<head>
    {% tailwind_css %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <style>
        @media (min-width: 768px) {
            .register-container {
                display: flex;
                max-width: 1200px;
                margin: auto;
                background-color: white;
                border-radius: 12px;
                overflow: hidden;
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            }

            .register-form-container {
                flex: 1;
                padding: 40px;
            }

            .register-image-container {
                flex: 1;
                background-color: #2563d0;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 40px;
            }

            .register-image {
                max-width: 100%;
                height: auto;
                border-radius: 12px;
            }
        }
    </style>
</head>
<body class="font-poppins bg-gray-100">
    <div class="container mx-auto p-4 flex items-center justify-center min-h-screen">
        <div class="register-container bg-white border border-gray-200 rounded-xl shadow-sm w-full max-w-md md:max-w-4xl">
            <!-- Form Section -->
            <div class="register-form-container bg-white border-gray-200 p-6 w-full">
                <div class="text-left mb-4">
                    <h1 class="text-2xl font-bold text-gray-800">Get Started Now</h1>
                    <p class="mt-2 text-sm text-gray-600">
                        Already have an account?
                        <a class="text-blue-600 hover:underline focus:outline-none font-medium" href="{% url 'login' %}">
                            Sign in
                        </a>
                    </p>
                </div>

                <button type="button" class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 dark:bg-neutral-900 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800 dark:focus:bg-neutral-800">
                  <svg class="w-4 h-auto" width="46" height="47" viewBox="0 0 46 47" fill="none">
                    <path d="M46 24.0287C46 22.09 45.8533 20.68 45.5013 19.2112H23.4694V27.9356H36.4069C36.1429 30.1094 34.7347 33.37 31.5957 35.5731L31.5663 35.8669L38.5191 41.2719L38.9885 41.3306C43.4477 37.2181 46 31.1669 46 24.0287Z" fill="#4285F4"/>
                    <path d="M23.4694 47C29.8061 47 35.1161 44.9144 39.0179 41.3012L31.625 35.5437C29.6301 36.9244 26.9898 37.8937 23.4987 37.8937C17.2793 37.8937 12.0281 33.7812 10.1505 28.1412L9.88649 28.1706L2.61097 33.7812L2.52296 34.0456C6.36608 41.7125 14.287 47 23.4694 47Z" fill="#34A853"/>
                    <path d="M10.1212 28.1413C9.62245 26.6725 9.32908 25.1156 9.32908 23.5C9.32908 21.8844 9.62245 20.3275 10.0918 18.8588V18.5356L2.75765 12.8369L2.52296 12.9544C0.909439 16.1269 0 19.7106 0 23.5C0 27.2894 0.909439 30.8731 2.49362 34.0456L10.1212 28.1413Z" fill="#FBBC05"/>
                    <path d="M23.4694 9.07688C27.8699 9.07688 30.8622 10.9863 32.5344 12.5725L39.1645 6.11C35.0867 2.32063 29.8061 0 23.4694 0C14.287 0 6.36607 5.2875 2.49362 12.9544L10.0918 18.8588C11.9987 13.1894 17.25 9.07688 23.4694 9.07688Z" fill="#EB4335"/>
                  </svg>
                  Sign up with Google
                </button>

                <div class="py-3 flex items-center text-xs text-gray-400 uppercase before:flex-1 before:border-t before:border-gray-200 after:flex-1 after:border-t after:border-gray-200">
                    Or
                </div>

                <!-- Form -->
                <form method="POST" action="{% url 'signup' %}" id="uploadForm">
                  {% csrf_token %}
                  <div class="grid gap-y-4">
              
                      <!-- General Error -->
                      {% if errors.general %}
                          <p class="text-xs text-red-600 mt-2">{{ errors.general }}</p>
                      {% endif %}
              
                      <!-- Username Field -->
                      <div>
                          <label for="username" class="block text-sm mb-2">Username</label>
                          <input type="text" id="username" name="username" class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500" value="{{ form_data.username|default_if_none:'' }}">
                          {% if errors.username %}
                              <p class="text-xs text-red-600 mt-2">{{ errors.username }}</p>
                          {% endif %}
                      </div>
              
                      <!-- Email Field -->
                      <div>
                          <label for="email" class="block text-sm mb-2">Email address</label>
                          <input type="email" id="email" name="email" class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500" value="{{ form_data.email|default_if_none:'' }}">
                      </div>
              
                      <!-- Password Field -->
                      <div>
                          <label for="password" class="block text-sm mb-2">Password</label>
                          <input type="password" id="password" name="password" class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500">
                      </div>
              
                      <!-- Confirm Password Field -->
                      <div>
                          <label for "confirm-password" class="block text-sm mb-2">Confirm Password</label>
                          <input type="password" id="confirm-password" name="confirm-password" class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500">
                          {% if errors.password %}
                              <p class="text-xs text-red-600 mt-2">{{ errors.password }}</p>
                          {% endif %}
                      </div>
              
                      <!-- Remember Me Field -->
                      <div class="flex items-center">
                          <input id="remember-me" name="remember-me" type="checkbox" class="shrink-0 mt-0.5 border border-gray-200 rounded text-blue-600 focus:ring-blue-500" required>
                          <label for="remember-me" class="text-sm ms-3">I accept the <a class="text-blue-600 hover:underline focus:outline-none font-medium" href="#">Terms and Conditions</a></label>
                      </div>
              
                      <!-- Submit Button -->
                      <button type="submit" class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700">
                          Sign up
                      </button>
                  </div>
              </form>
            </div>

            <!-- Image Section (only on larger screens) -->
            <div class="hidden md:flex register-image-container">
              <img src="{% static 'images/Your paragraph text.png' %}" alt="Dashboard preview" class="register-image">
            </div>
        </div>
    </div>
    <script src="./node_modules/preline/dist/preline.js"></script>     
</body>
</html>
