<!DOCTYPE html>
<html lang="en">
    {% load static tailwind_tags %}
    {% load static %}
<head>
    {% tailwind_css %}
    <meta charset="UTF-8">
    <title>Upload Sales Data</title>
    <link rel="stylesheet" href="">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');
        @import url('https://fonts.googleapis.com/css?family=Poppins');

        .progress-bar-container {
            display: none; /* Hide the container initially */
            width: 100%;
            background-color: #f3f3f3;
            border-radius: 4px;
            overflow: hidden;
        }

        .progress-bar {
            height: 8px;
            background-color: #4caf50;
            width: 0;
            transition: width 0.4s ease;
        }
    </style>
</head>
<body class="font-poppins">
    <div class="container mx-auto p-4">
        <h1 class="text-2xl font-bold mb-10 text-center font-sans tracking-wide">Upload Your Sales Data</h1>
        <form id="uploadForm" method="post" enctype="multipart/form-data" class="mx-auto w-full max-w-lg bg-white p-6 rounded-lg shadow-md">
            {% csrf_token %}

            <!-- Manually render each form field except for the file input -->
            {% for field in form %}
            {% if field.name != 'file' %}
                <div class="mb-4">
                    {{ field.label_tag }} {{ field }}
                    {% if field.help_text %}
                        <small class="text-gray-500">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <div class="text-red-600">{{ error }}</div>
                    {% endfor %}
                </div>
            {% endif %}
            {% endfor %}

            <!-- Custom file upload button -->
            <div class="mb-2">
                <input type="file" id="fileInput" name="file" accept=".xls, .xlsx" style="display: none;" onchange="getFileName()">
                <label id="file-upload" for="fileInput" class="flex items-center justify-center px-4 py-2 text-gray-700 rounded-lg cursor-pointer">
                    <img src="{% static '/images/upload-file.png'%}" alt="Upload Icon" class="w-14 h-14 mr-2">
                    Click to upload
                </label>
            </div>

            <!-- File Name -->
             <div id="file-name" class="file-name text-sm text-center mb-3 text-blue-600"></div>

            <!-- Guides -->
            <div class='text-center text-xs text-gray-500 mb-6'>
                <p>Maximum file size: 10 MB</p>
                <p>Supported format: .XLSX, .XLS</p>
            </div>

            <!-- Error message container -->
            <div id="error-message" class="error-message text-red-600 text-center text-xs mb-6"></div>

            <!-- Submit button -->
            <div class="flex justify-center">
                <button type="submit" class="mt-4 px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700">Upload</button>
            </div>

            {% comment %} <!-- Div to Display File Details -->
            <div id="file-details" class="mt-4 p-4 border rounded"></div> {% endcomment %}
        </form>
    </div>

    <script>
        document.getElementById('uploadForm').addEventListener('submit', function(event) {
            var fileInput = document.getElementById('fileInput');
            var errorMessage = document.getElementById('error-message');
            

            // Clear previous error message
            errorMessage.textContent = '';


            if (fileInput.files.length < 1) {
                event.preventDefault(); // Prevent form submission
                console.log("Nothing was uploaded");
                errorMessage.textContent = "You have not selected any file!";
            } else {
                console.log('File uploaded');
                fileName.textContent = fileInput.files.name;
            }
        });

        function getFileName() {
            var fileNameDisplay = document.getElementById('file-name');
            var fileInput = document.getElementById('fileInput');

            // Clear previous file name
            fileNameDisplay.textContent = '';

            if (fileInput.files.length >= 1) {
                var fileName = fileInput.files[0].name; // Access the name of the first file
                //var fileSize = fileInput.files[0].size;
                console.log('File uploaded' + fileName);
                fileNameDisplay.textContent = "Selected File: " + fileName;
            }
        };
    </script>
</body>
</html>
